h1{
	color : green;
}

.bleu{
	color : blue;
}

.pgro{
	font-size:18pt;
}

.mgro{
	font-size:1em;
}

body{
	height:1500px;
	font-family:gigi, century;
	margin: 10% 15% 0 15%;
}

p{
	margin-top:15em;
}

.bouton{
	position:absolute;
	right:60px;
	color:white;
	text-align:center;
	font-size:+35;
	width:200px;
	height:50px;
	border-radius:10px;
	background-image: linear-gradient(white, black, grey);
}

.button{
	position:absolute;
	right: 80px;
	color:black;
	display:none;
	text-align:center;
	font-size:+35;
	width:150px;
	height:50px;
	border-radius:20px;
	background-image: linear-gradient(blue, white, red);
}

.bouton:active .button{
	display:block;
	position:absolute;
}

.bouton:active{
	border-radius:20px;
	background-image: linear-gradient(grey, black, white);
}

#pagePrems{position:absolute;}

#pageoui{position:absolute;}

#Majeur1{
	position:absolute;
	width:600px;
	color : black;
	font-size: 18px;
	display: block; 
}

#Majeur2{
	position:absolute;
	left:600px;
	width:600px;
	color: black;
	font-size:18px;
	display: block;
}


#SOUSmajeur1{
	background-color:#868686;
}

#wiwi{
	font-family:Courier;
	text-align: center;
	background-color:orange;
}

.niveau2{
	display: none;
}

.niveau1:hover .niveau2 {
	position:absolute;
	display: block; 
}

.niveau1:hover  {
	background-color : black ;
}
